html{margin:0;padding:0}

body {
	margin: 0px;
	padding: 0px;
	color: #E20A0A;
	font-family: verdana, arial, helvetica, sans-serif;/*Tahoma, Geneva, sans-serif;*/
	font-size: 15px;
	line-height: 1.5em; 
	background-color: #0097d6;
	background-image: url(../images/templatemo_body.jpg);
	background-repeat: repeat-y;
	background-position: center;
}

a:visited    {
	color: #0000FF;
	text-decoration: none;
}

a:link    {
	color: #0000FF;
	text-decoration: none;
}

a:hover    {
	color: #FF0000;
	text-decoration: underline;
}

a:active    {
	color: #FF0000;
	text-decoration: underline;
}

a.none:hover    {
	color: #000000;
	text-decoration: none;
}

/* form styles */
textarea    {
	color: #000000;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 12;
}

select    {
	color: #000000;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 12;
}

input    {
	color: #000000;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 12;
}

/* small event font */
div.smallcalev    {
	color: #0020A0;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 10;
}

div.smallcalevtime    {
	color: #000000;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 10;
}

a.smallcalev    {
	color: #0020A0;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 10;
}

a.smallcalev:hover    {
	color: #FF2040;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 10;
}

/* small cal month font */
table.smallcalmth    {
	color: #000000;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 13;
	width: 98%;
}

div.smallcalmth    {
	color: #000000;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 14;
}

a.smallcalmth    {
	color: #000000;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 14;
}

a.smallcalmth:visited    {
	color: #000000;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 14;
}

td.smallcalmth    {
	background-color: #F4F4F4;
	border:#884422 thin solid;	
}

/* message to signal progress */
h4    {
	color: #000000;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 14;
}

/* font for calendar and company names at top of month calendar */
table.companynamefont    {
	color: #0000FF;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 24;
	font-style: normal;
	font-weight: bold;
	background-color: #F0F0FF;
}

table.calendarnamefont    {
	color: #884422;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 24;
	font-style: normal;
	font-weight: bold;
	background-color: #FFFFF0;
}

/* calendar top header setting */
table.todaytop    {
	color: #884422;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 12;
	font-style: normal;
	font-weight: normal;
	width: 100%;
	background: #FFFFF0;
}

/* font for calendar day name */
div.dayfont    {
	color: #884422;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 13;
	font-style: normal;
	font-weight: normal;
}

/* font for calendar date numbers */
div.datenumfont    {
	color: #000000;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 13;
	font-style: normal;
	font-weight: normal;
}

a.datenumfont    {
	color: #000000;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 13;
	font-style: normal;
	font-weight: normal;
}

a.datenumfont:visited    {
	color: #000000;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 13;
	font-style: normal;
	font-weight: normal;
}

/* month calendar table view setting */
table.monthview    {
	width: 98%;
	border-width: thin;
	background-color: #A0E0F0;
	color: #A0E0F0;
	border: 0px thin #FFFFFF;
	border-collapse: separate;
	border-spacing: 1px;
	padding: 0px;
	spacing: 1px;
}

td.monthview    {
	height: 30px;
}

td.sundaytopcolor    {
	height: 50px;
	color: #F0F0E0;
	background-color: #F0F0E0;
	width: 14%;
}

td.weekdaytopcolor    {
	height: 50px;
	color: #F4F4F4;
	background-color: #F4F4F4;
	width: 14%;
}

td.sundayemptyclr    {
	height: 50px;
	background-color: #FFFFFF;
}

td.weekdayemptyclr    {
	height: 50px;
	background-color: #FFFFFF;
}

td.todayclr    {
	background-color: #FFFFC0;
}

td.sundayclr    {
	height: 50px;
	background-color: #F0F0E0;
}

td.weekdayclr    {
	height: 50px;
	background-color: #F4F4F4;
}

/* link to month navigation font */
a.calfontnav    {
	color: #884422;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 18;
	font-style: normal;
	font-weight: bold;
}

a.calfontnav:hover    {
	color: #884422;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 18;
	font-style: normal;
	font-weight: normal;
}

a.calfontnav:link    {
	color: #884422;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 18;
	font-style: normal;
	font-weight: normal;
}

a.calfontnav:visited    {
	color: #884422;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 18;
	font-style: normal;
	font-weight: normal;
}

/* link to asked month font */
div.calfontasked    {
	color: #884422;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 24;
	font-style: normal;
	font-weight: normal;
}

a.calfontasked    {
	color: #884422;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 24;
	font-style: normal;
	font-weight: normal;
}

a.calfontasked:hover    {
	color: #884422;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 24;
	font-style: normal;
	font-weight: normal;
}

a.calfontasked:link    {
	color: #884422;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 24;
	font-style: normal;
	font-weight: normal;
}

a.calfontasked:visited    {
	color: #884422;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 24;
	font-style: normal;
	font-weight: normal;
}

/* font for menu items */
div.menufont    {
	color: #000000;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 12;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}

a.menufont:link    {
	color: #0000FF;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 12;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}

a.menufont:visited    {
	color: #0000FF;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 12;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}

a.menufont:hover    {
	color: #0000FF;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 12;
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
}

/* menu option background color */
table.menufont    {
	background: #FAFAFF;
	width: 100%;
}

/* font for search header */
div.searchheaderfont    {
	color: #000000;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 16;
	font-style: normal;
	font-weight: bold;
	background-color: #F0F0F0;
}

/* font for search result events title */
div.searchtitlefont    {
	color: #000000;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 14;
	font-style: normal;
	font-weight: bold;
	text-decoration: underline;
}

/* font for search result events */
div.searchtextfont    {
	color: #000000;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 12;
	font-style: normal;
	font-weight: normal;
}

/* font for headers */
div.headerfont    {
	color: #000000;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 16;
	font-style: normal;
	font-weight: bold;
	background-color: #F0F0F0;
}

table.headerfont    {
	color: #000000;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 16;
	font-style: normal;
	font-weight: bold;
	background-color: #F0F0F0;
}

a.headerfont:link    {
	color: #000000;
	text-decoration: none;
}

a.headerfont:visited    {
	color: #000000;
	text-decoration: underline;
}

a.headerfont:hover    {
	color: #000000;
	text-decoration: underline;
}

/* font for titles */
div.titlefont    {
	color: #000000;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 14;
	font-style: normal;
	font-weight: normal;
}

table.titlefont    {
	color: #000000;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 14;
	font-style: normal;
	font-weight: normal;
	background-color: #C0C0C0;
}

a.titlefont:link    {
	color: #000000;
	text-decoration: none;
}

a.titlefont:visited    {
	color: #000000;
	text-decoration: underline;
}

a.titlefont:hover    {
	color: #000000;
	text-decoration: underline;
}

/* font for event popup title */
div.popupeventtitlefont    {
	color: #000000;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 14;
	font-style: normal;
	font-weight: bold;
	text-decoration: underline;
}

/* font for event popup content */
div.popupeventfont    {
	color: #000000;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 12;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}

/* color and font for event content text in day calendar */
table.dayevent    {
	color: #000000;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 12;
	font-style: normal;
	font-weight: normal;
	background: #F0F0FF;
	text-decoration: none;
}

/* color and font for event content text in week calendar */
table.weekevent    {
	color: #000000;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 12;
	font-style: normal;
	font-weight: normal;
	background: #F0F0FF;
	text-decoration: none;
}

/* color and font for normal text */
div.normalfont    {
	color: #000000;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 12;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}

table.normalfont    {
	color: #000000;
	font-family: Arial,sans-serif,Helvetica;
	font-size: 12;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}

a.normalfont:link    {
	color: #000000;
	text-decoration: none;
}

a.normalfont:visited    {
	color: #000000;
	text-decoration: none;
}

a.normalfont:hover    {
	color: #000000;
	text-decoration: underline;
}

/* format event borders in calendar month view */
table.eventborder    {
	border: solid #D0C0C8;
	border-bottom-width: 1;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}

td.eventborder    {
	border: solid #D0C0C8;
	border-bottom-width: 0;
	border-top-width: 0;
	border-left-width: 1;
	border-right-width: 0;
}

td.eventtimeborder    {
	border: solid #884084;
	border-bottom-width: 0;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}

/* lines and boxes */
table.txtbox    {
	border: solid gray;
	border-width: 1;
}

td.txtbox {
	border:#884422 thin solid;
}

hr    {
	height: 1px;
	background-color: #804000;
	border: #804000;
	color: #804000;
	border: 0px;
	border-style: none;
}

#templatemo_menu ul {
	float: left;
	display: inline-block;
	height: 50px;
	margin: 0;
	padding: 10px 0;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0;
	margin: 0;
	display: inline-block;
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	height: 45px;
	width: 116px;
	padding: 5px 0 0 0;
	font-size: 12px;
	color: #666;	

	text-align: center;
	text-decoration: none;
	font-weight: normal;
	outline: none;
	border: none;
	background: url(../images/templatemo_menu_divider.gif) repeat-y right;
}

#templatemo_menu ul li a span {
	display: block;
	font-size: 20px;
	font-weight: normal;
	color: #333;
}

#templatemo_menu ul li .last {
	background: none;
}

#templatemo_menu ul li a:hover, #templatemo_menu ul .current {
	color: #a13c03;
}

 #templatemo_menu ul li a:hover span, #templatemo_menu ul .current span {
	 color: #a13c03;
 }

#templatemo_menu ul li a span:hover {
	color: #a13c03;
}
/* end of menu */

/* content */

#templatemo_content_wrapper {
	width: 802px;
	padding: 0 68px 0 100px;
}

#templatemo_content_top {
	width: 802px;
	height: 10px;
	background: url(../images/templatemo_content_top.png) no-repeat;
	margin-left:100px;
}

#templatemo_content_bottom {
	width: 802px;
	height: 10px;
	background: url(../images/templatemo_content_bottom.png) no-repeat;
}
	
#templatemo_content {
	padding: 20px 5px;
	background: url(../images/templatemo_content.png) repeat-y;
}


#templatemo_content p {
	margin-bottom: 10px;
}

#templatemo_content h2 {
	margin-left: -46px;
	height: 36px;
	padding: 12px 0 0 46px;
	text-shadow: 1px 1px 1px #555;
	margin-bottom: 10px;
	font-weight: bold;
	background: url(../images/templatemo_h2.png) no-repeat;
}

/* menu */

#templatemo_menu {
	clear: both;
	width: 950px;
	height: 122px;
	padding: 0 10px;
	margin-bottom: 20px;
	background: url(../images/templatemo_menu.png) no-repeat top;
	margin-left: -130px;
}

#templatemo_menu .home a {
	float: left;
	width: 52px;
	height: 52px;
	margin: 9px 19px;
	background: url(../images/templatemo_home.png) no-repeat center;
}

#templatemo_menu .home a:hover {
	background: url(../images/templatemo_home_hover.png) no-repeat center;
}

h1{
	font-size:2.4em;
	margin:2px;
}

#templatemo_wrapper { 
	width: 970px;
	margin: 0 auto;
}

#templatemo_header {
	width: 740px;
	height: 180px;
	padding: 0 100px 0 130px;
	background: url(../images/templatemo_header.png) top no-repeat ;
}

#templatemo_header  #site_title {
	float: left;
	margin: 60px 0 0 60px;
}

#templatemo_header  #site_title a {
	margin: 0px;
	padding: 0px;
	font-size: 40px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#templatemo_header  #site_title a span {
	display: block;
	text-align: right;
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	margin-left: 5px;
}

h1, h2, h3, h4, h5, h6 { color: #1C0AEB; }
h1 { font-size: 40px; font-weight: normal; margin: 0 0 30px 0; padding: 5px 0; }
h2 { font-size: 28px; font-weight: normal; margin: 0 0 20px 0; padding: 0; }
h3 { font-size: 21px; margin: 0 0 15px 0; padding: 0; padding: 0; color: #000; font-weight: normal; }
h4 { font-size: 18px; margin: 0 0 20px 0; padding: 0; color: #333; }
h5 { font-size: 16px; margin: 0 0 10px 0; padding: 0; color: #333; }
h6 { font-size: 14px; margin: 0 0 5px 0; padding: 0; color: #333; }

